 <%- include header %>
  	<div id="container" class="navigation">
  		<div class="top">
  		</div>
  		<div class="content">
  		<div class="backBar">
  			<a href="/"><img src="/images/back.png"/></a>
  		</div>
<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"jov"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
</div>
</div>
</body>
</html>