 <%- include header %>
  	<div id="container" class="navigation">
  		<div class="top">
  		</div>
  		<div class="content">
  			<div>
	  			<a href="https://github.com/joveth" target="_blank">
	  				<img style="position: absolute; top: -1px; right: 0; border: 0;" src="/images/forkme.png" title="Fork me on GitHub">
	  			</a>
  			</div>
  			<div class="hil "><span class="titl blue">关于梦想</span></div>
  			<div class="hil_text" >
  				<div class="hil_infor">
  					<p>小时候我想当科学家，那时候电视里天天放着科学家什么什么，让我及其的项目，上了初中之后我才知道科学家什么的那有那么简单，那时候我又天天幻想着离家出走个几十年，回来之后变了身，高中了我换了梦想，我以北大为目标，但是目标没要我。好吧，大学也还可以，我开始幻想着像那些IT BOSS一样，以什么什么东西成名，结果梦到现在都还没醒。步入了社会渐渐知道了 ，那些所谓的梦想，全他妈的扯淡。</p>
  					<p>去你妹的那帮小时候的玩伴们让我现在经常想起与你们玩耍的快乐时光，你们在哪里啊。</p>
  					<p>去你妹的小学二年级的老师，在昏暗的泥瓦房教室里，你在讲桌下埋头挤膨胀的奶水的情景让我记忆犹新，那是我逝去的纯洁啊。</p>
  					<p>去你妹的放学回家的路上所有开车的人，我脚贱踢了路上的石头，砸碎了车窗，让我整整哭了一夜，让我至今都没能明白故意和有意的区别。</p>
  					<p>去你妹的---，我以为能给爷爷奶奶安享晚年的机会，但是我TM还没毕业，他们就不在了，扪心自问你们对得起他们吗。</p>
  					<p>去你妹的初中，我还没开始努力就已经结束了，结果梦想中的市一中，变成了县一中。</p>
  					<p>去你妹的高中，骗我到了大学就不用努力了，这那里是不用努力了，这是拿未来换几年的休闲，你妹啊，你能想象到这种每天无所事事，不知所措的痛苦吗。</p>
  					<p>去你妹的大学，在我迷茫的时候你不结束，在我实习回来想要继续的时候，你却已经完了。</p>
  					<p>去你妹的我这操蛋的二十几载，不努力珍惜过去的时光，到头来却要 骂东骂西，你是有多么的无耻。</p>
  				</div>
  			</div>
  	</div>
  </body>
  <script src="/js/jquery-1.7.1.min.js"></script>
</html>