<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="container" class="navigation">
  		<div class="top">
  		</div>
  		<div class="content">
  			<div>
	  			<a href="https://github.com/joveth" target="_blank">
	  				<img style="position: absolute; top: -1px; right: 0; border: 0;" src="/images/forkme.png" title="Fork me on GitHub">
	  			</a>
  			</div>
  			<div class="hil">基本信息</div>
  			<div class="hil_text">
  				<div class="hil_infor">
  					<p>乔&nbsp;&nbsp;伟，男，生于安徽阜阳，现居于上海浦东。</p>
  					<p>手机：13402184553，邮箱:jov123@163.com，QQ:2247911950。</p>
  					<p>2013年7月，毕业于东北大学（985、211含金量未知），本科生，软件工程专业。</p>
  					<p>学过C，搞java，也曾用过C++，对于python有了解，前端属于刚学习，JQuery不用说，backbone、angular、knockout、ember等JS框架也曾研究过，nodejs也熟悉，毕竟我在Herokuapp上的很多小应用都是用nodejs搭建的，会用mongodb，学习过html5、正在研究jquery mobile移动开发。现在主要做的是java web开发，用过oracle、mysql、postgresql等数据库，独自学习android手机开发，做了几个小的app。人面善，挺实在，还有点倔强，热爱学习，热爱技术，追求技术，希望能遇到志同道合的人。</p>
  				</div>
  			</div>
  			<div class="hil">开发经历</div>
  			<div class="hil_text">
  				<div class="hil_infor">
  					<p>2010.7～2010.9。老实说我也不知道这两个月做了什么，那是大一结束后的暑假，想学点东西，于是找了一个学院的老师，她带着我们（学长们和我），来到了一个正在创业的公司，跟他们做产品（有兴趣的同学可以搜一下螃蟹帮），那时的我，知道的真是太少了，其实就算是电脑也是在大一的第二学期踩开始用的（不用惊讶，农村人，到大学以前基本没用过电脑），所以注定了我打酱油的命运，跟着学长们学习怎么做需求，跟着学习python还有mysql数据库，虽然说都只是一知半解，但我真的很珍惜这次实践。最后，用python写了一个聊天的应用程序（虽然现在已经不知所踪额了，python也忘的差不多了，但是这对我来说是我人生中的第一个项目），感谢老师，感谢各位学长（还有学姐）。</p>
  					<p>2011.7～2011.9。又是暑假，这次做了什么呢？呵呵</p>
  				</div>
  			</div>
  		</div>
  	</div>
  </body>
</html>