 <%- include header %>
  	
  	<div id="container" class="navigation">
  		<div class="top">
  		</div>
  		<div class="content">
  			<div>
	  			<a href="https://github.com/joveth" target="_blank">
	  				<img style="position: absolute; top: -1px; right: 0; border: 0;" src="/images/forkme.png" title="Fork me on GitHub">
	  			</a>
  			</div>
  			<div class="hil "><span class="titl blue">基本信息</span></div>
  			<div class="hil_text">
  				<div class="hil_infor">
  					<p>乔&nbsp;&nbsp;伟，男，生于安徽阜阳，现居于上海浦东。</p>
  					<p>手机：13402184553，邮箱:jov123@163.com，QQ:2247911950。</p>
  					<p>2013年7月，毕业于东北大学（985、211含金量未知），本科生，软件工程专业。</p>
  					<p>学过C，搞java，也曾用过C++，对于python有了解，前端属于刚学习，JQuery不用说，backbone、angular、knockout、ember等JS框架也曾研究过，nodejs也熟悉，毕竟我在Herokuapp上的很多小应用都是用nodejs搭建的，会用mongodb，学习过html5、正在研究jquery mobile移动开发。现在主要做的是java web开发，用过oracle、mysql、postgresql等数据库，独自学习android手机开发，做了几个小的app。人面善，挺实在，还有点倔强，热爱学习，热爱技术，追求技术，希望能遇到志同道合的人。</p>
  				</div>
  			</div>
  			<div class="hil">开发经历</div>
  			<div class="hil_text">
  				<div class="hil_infor">
  					<p>2014.2～？。现在？恩，在做前端，校园一卡通项目，前端使用Angularjs框架，正在进行中...</p>
  					<p>2014.1～2014.2。自我学习Nodejs（玩了下mongodb），对，就是那叫ideas和ominds的两个web小应用</p>
  					<p>2013.7～2014.1。自我学习Android（顺便用了下sqlite），完成了3个小的demo，两个上传在百度应用上，而另一个倾注了我的心血的东西，却无法被理解。嘛，虽然Bug很多～～～</p>
  					<p>2013.7～2014.1。先锋商泰，这期间真是一种煎熬，除了CMS的维护工作外，就没有一点新鲜的，好不容易有个spring batch的项目，我却只能做SQL，拿来一看，框架被人搭好了，就剩填空了。</p>
  					<p>2012.12～2013.4。先锋商泰，画像管理，SSH，只不过hibernate换成了Mybatis，oracle数据库换成了postgresql，附带JQuery。</p>
  					<p>2012.7～2012.8。东软实训，物流管理系统，SSH，夹杂着Ajax。</p>
  					<p>2012.6～2012.7。东软实训，人事管理系统，无聊的Jsp和servlet，还换了oracle数据库</p>
  					<p>2012.3～2012.5。还是Jsp/servlet+mysql开发的心里健康系统，言之拳拳，说是给新生用的，但是，为什么却拿来写论文了，明明有那么好的题库和公式。</p>
  					<p>2011.10～2011.12。学了一点Flex，说好的汽车配件展示系统呢？说好的，用户自定义购买零配件功能呢？嘛，权当学习Flex了。</p>
  					<p>2011.7～2011.9。又是暑假，这次做了什么呢？和另一个同学（好兄弟）一起跟另一个老师做食品安全新闻网站，Jsp/servlet+Mysql、没有特别炫的界面，只是实现了简单的功能。</p>
  					<p>2010.7～2010.9。老实说我也不知道这两个月做了什么，那是大一结束后的暑假，想学点东西，于是找了一个学院的老师，她带着我们（学长们和我），来到了一个正在创业的公司，跟他们做产品（有兴趣的同学可以搜一下螃蟹帮），那时的我，知道的真是太少了，其实就算是电脑也是在大一的第二学期踩开始用的（不用惊讶，农村人，到大学以前基本没用过电脑），所以注定了我打酱油的命运，跟着学长们学习怎么做需求，跟着学习python还有mysql数据库，虽然说都只是一知半解，但我真的很珍惜这次实践。最后，用python写了一个聊天的应用程序（虽然现在已经不知所踪额了，python也忘的差不多了，但是这对我来说是我人生中的第一个项目），感谢老师，感谢各位学长（还有学姐）。</p>
  				</div>
  			</div>
  			<div class="hil">东东～～</div>
  			<div class="hil_text">
  				<div class="hil_infor">
  					<p>Android：<a href="http://as.baidu.com/a/item?docid=5346247&pre=web_am_se&f=web_alad@next" target="_blank">特效集锦</a>、<a href="http://as.baidu.com/a/item?docid=5346043&pre=web_am_se&f=web_alad@next" target="_blank">健康测评</a>、奖证集（见于博客）</p>
  					<p>NodeJS：<a href="http://oideas.herokuapp.com" target="_blank">Ideas</a>、<a href="http://ominds.herokuapp.com" target="_blank">OMinds</a>、本站和另一个在做的Jquery Mobile项目</p>
  					<p><a href="https://github.com/joveth" target="_blank">GitHub</a>、<a href="http://blog.csdn.net/joveth" target="_blank">CSDN博客</a>、<a href="https://github.com/joveth/OMinds/wiki/_pages" target="_blank">NodeJS教程wiki</a></p>
  				</div>
  			</div>
  		</div>
  		</div>
  	</div>
  	<div class="menu" id="mainmenu">
	<i id="menu_icon" class="menu-icon" title="Home"></i>
	<div class="base_infor">
		<div class="fb-like" data-href="#" data-send="false" data-layout="box_count" data-width="45" data-show-faces="false">
		基本信息
		</div>
	</div>
	<div class="base_infor">
		<div class="fb-like" data-href="#" data-send="false" data-layout="box_count" data-width="45" data-show-faces="false">
		开发经历
		</div>
	</div>
	<div class="base_infor">
		<div class="fb-like" data-href="#" data-send="false" data-layout="box_count" data-width="45" data-show-faces="false">
		东东～～
		</div>
	</div>
	<div class="read_times">
		<div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 50px; height: 60px; background-position: initial initial; background-repeat: initial initial;">
		<span><div class="b1"><div class="iQa IY kqkXnd" title=""><span id="aggregateCount" class="B8">210</span><div class="GDtOO"></div></div></div></span>
		<div style="text-decoration: none;color: #dd4b39;background: #fff;font-size: 12px;padding:2px 2px" title="浏览次数210">浏览</div>
		</div>
	</div>
	<div class="other">
		<a href="#"  data-url="#" data-via="BabeltheKing" data-count="none" data-hashtags="interactive,book,app">～ゆめ～</a>
	</div>
	<div class="other">
		<a href="#" data-url="#" data-via="BabeltheKing" data-count="none" data-hashtags="interactive,book,app">给我留言</a>
	</div>
	<div class="pinit">
	Joveth
	</div>
	</div>
	<!--<div class="java-icon" title="java skill" ><img src="/images/java_copy.png"></div>
	<div class="android-icon" title="android skill" ><img src="/images/android1.png"></div>
	<div class="nodejs-icon" title="nodejs skill" ><img src="/images/nodejs.svg"></div>
	<div class="mongodb-icon" title="mongodb skill" ><img src="/images/mongodb.png"></div>
	<div class="angular-icon" title="angular skill" ><img src="/images/angular.png"></div>-->
  </body>
  <script src="/js/jquery-1.7.1.min.js"></script>
  <script  type="text/javascript">
	$(document).ready(function(){
		var mainmen = $("#mainmenu");
		var defaultHeight = mainmen.height();
		var flag = true;
		$("#menu_icon").click(function(){
			if(flag){
				mainmen.animate({height:'300px'},400);
				mainmen.animate({height:'150px'},400);
				mainmen.animate({height:'60px'},400,function(){
					mainmen.children("div").hide();
				});
			}else{
				mainmen.animate({height:'80px'},100,function(){
					mainmen.children("div").show();
				});
				mainmen.animate({height:'150px'},400);
				mainmen.animate({height:defaultHeight},400);
			}
			flag = !flag;
			return false;
		});
	});
</script>
</html>