<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="container" class="navigation">
  		<div class="top">
  		</div>
  		<div class="content">
  			<div>
	  			<a href="https://github.com/joveth" target="_blank">
	  				<img style="position: absolute; top: -1px; right: 0; border: 0;" src="/images/forkme.png" title="Fork me on GitHub">
	  			</a>
  			</div>
  			<div class="hil">基本信息</div>
  			<div class="hil_text">
  				<div class="hil_infor">
  					<p>乔&nbsp;&nbsp;伟，男，生于安徽阜阳，现居于上海浦东。</p>
  					<p>手机：13402184553，邮箱:jov123@163.com，QQ:2247911950。</p>
  					<p>2013年7月，毕业于东北大学（985、211含金量未知），本科生，软件工程专业。</p>
  					<p>学过C，搞java，也曾用过C++，对于python有了解，前端属于刚学习，JQuery不用说，backbone、angular、knockout、ember等JS框架也曾研究过，nodejs也熟悉，毕竟我在Herokuapp上的很多小应用都是用nodejs搭建的，会用mongodb，学习过html5、正在研究jquery mobile移动开发。现在主要做的是java web开发，用过oracle、mysql、postgresql等数据库，独自学习android手机开发，做了几个小的app。人面善，挺实在，还有点倔强，热爱学习，热爱技术，追求技术，希望能遇到志同道合的人。</p>
  				</div>
  			</div>
  			<div class="hil">开发经历</div>
  		</div>
  	</div>
  </body>
</html>