body{
	margin: 0 auto;
	padding: 0;
	background: url(../images/bgnoise_lg.png) repeat left top;
	font: 14px "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
	background-attachment:fixed;
	color:#eee;
}
ul {
	list-style: none;	
}
a {
	text-decoration: none;
	color: #000;
}
.navigation{
	margin: 50px auto;	
	width: 640px;
}
.content{
	margin-top:50px;
	background-color: #fff;
	color:#999;
	padding: 35px 40px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	border-bottom: 1px solid #bbb;
	position: relative;
}
.content:before, .content:after {
	background-image: -moz-linear-gradient(
	rgba(255, 255, 255, 0.6), 
	rgba(255, 255, 255, 0.3) 5%, 
	rgba(255, 255, 255, 0.1) 50%,
	rgba(255, 255, 255, 0) 50%), 
	-moz-linear-gradient(bottom,
	#00a0b0 0%, #00a0b0 16.66667%,
	#6a4a3c 16.66667%,#6a4a3c 33.33333%,
	#cd3540 33.33333%,#cd3540 50%,
	#ec6942 50%, #ec6942 66.66667%, 
	#edc951 66.66667%, #edc951 83.33333%,
	#88c633 83.33333%, #88c633 100%
	 );
	background-image: -o-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3) 5%, rgba(255, 255, 255, 0.1) 50%, 
	rgba(255, 255, 255, 0) 50%), -o-linear-gradient(bottom, 
	#00a0b0 0%, #00a0b0 16.66667%,
	#6a4a3c 16.66667%,#6a4a3c 33.33333%, 
	#cd3540 33.33333%, #cd3540 50%, 
	#ec6942 50%, #ec6942 66.66667%,
	#edc951 66.66667%, #edc951 83.33333%, 
	#88c633 83.33333%, #88c633 100%);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3) 5%, rgba(255, 255, 255, 0.1) 50%,
	rgba(255, 255, 255, 0) 50%), -webkit-linear-gradient(bottom, 
	#00a0b0 0%, #00a0b0 16.66667%,
	#6a4a3c 16.66667%,#6a4a3c 33.33333%,
	#cd3540 33.33333%,#cd3540 50%,
	#ec6942 50%, #ec6942 66.66667%, 
	#edc951 66.66667%, #edc951 83.33333%,
	#88c633 83.33333%, #88c633 100%);
	background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3) 5%, rgba(255, 255, 255, 0.1) 50%,
	rgba(255, 255, 255, 0) 50%), linear-gradient(to top, 
	#00a0b0 0%, #00a0b0 16.66667%, 
	#6a4a3c 16.66667%, #6a4a3c 33.33333%, 
	#cd3540 33.33333%, #cd3540 50%, 
	#ec6942 50%, #ec6942 66.66667%, 
	#edc951 66.66667%, #edc951 83.33333%, 
	#88c633 83.33333%, #88c633 100%);
}
.content:before {
	content: "";
	position: absolute;
	top: 20px;
	left: -8px;
	bottom: 20px;
	width: 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.6) -1px 0 4px inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.6) -1px 0 4px inset;
	box-shadow: rgba(0, 0, 0, 0.6) -1px 0 4px inset;
	-moz-border-radius-topleft: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	border-top-left-radius: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}
.content:after{
	content: "";
	position: absolute;
	top: 20px;
	bottom: 20px;
	right: -8px;
	width: 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.6) 1px 0 4px inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.6) 1px 0 4px inset;
	box-shadow: rgba(0, 0, 0, 0.6) 1px 0 4px inset;
	-moz-border-radius-topright: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
	border-top-right-radius: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
.hil{
	font-size: 16px;
	vertical-align: middle;
	line-height: 100%;
	margin: 0 0 20px;
	color: #9b8878;
}


.hil_text{
	word-break: break-all;
	line-height: 160%;
	margin-left:18px;
	margin-bottom:30px;
}
.hil_infor p{
	margin-bottom: 1em;
}
.menu{
	background:#c32931;
	width:60px;
	position:fixed;
	left:50px;
	top:50%;
	margin-top:-160px;
	z-index:903;
	color: #FFF;
	text-align:center;
	border-radius: 4px;
	font-size:12px;
}
.menu>div {
	background: transparent url("../images/dot-line.png") repeat-x left top;
	padding: 15px 0 17px;
}
.b1 {
	font-size: 15px;
}
.b1 {
	text-align: center;
	margin-bottom: 8px;
	overflow: visible;
	width: 48px;
	height: 30px;
	position: relative;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.b1:after, .b1:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.b1:before {
	border-color: rgba(192,192,192,0);
	border-top-color: #ccc;
	border-width: 5px;
	margin-left: -5px;
}
.b1 .IY {
	padding-top: 6px;
}
.B8 {
	vertical-align: top;
	color: #666;
}
.menu-icon{
	display: block;
	background: transparent url('../images/menu-sprite.svg') 0 0 no-repeat;
	background-size: auto 100%;
	height: 60px;
	width: 60px;
	cursor: pointer;
}
.java-icon{
	position:fixed;
	right:180px;
	top:20px;
	transform:rotate(-33.33333deg);
	-ms-transform:rotate(-33.33333deg); /* Internet Explorer */
	-moz-transform:rotate(-33.33333deg); /* Firefox */
	-webkit-transform:rotate(-33.33333deg); /* Safari 和 Chrome */
	-o-transform:rotate(-33.33333deg); 
}
.java-icon img{
	width:96px;
}
.android-icon{
	position:fixed;
	right:60px;
	top:100px;
	transform:rotate(14.33333deg);
	-ms-transform:rotate(14.33333deg); /* Internet Explorer */
	-moz-transform:rotate(14.33333deg); /* Firefox */
	-webkit-transform:rotate(14.33333deg); /* Safari 和 Chrome */
	-o-transform:rotate(14.33333deg); 
}
.android-icon img{
	width:72px;
}
.nodejs-icon{
	position:fixed;
	right:100px;
	top:180px;
	transform:rotate(-5.33333deg);
	-ms-transform:rotate(-5.33333deg); /* Internet Explorer */
	-moz-transform:rotate(-5.33333deg); /* Firefox */
	-webkit-transform:rotate(-5.33333deg); /* Safari 和 Chrome */
	-o-transform:rotate(-5.33333deg); 
}
.nodejs-icon img{
	width:128px;
}
.mongodb-icon{
	position:fixed;
	right:140px;
	top:220px;
	transform:rotate(5.33333deg);
	-ms-transform:rotate(5.33333deg); /* Internet Explorer */
	-moz-transform:rotate(5.33333deg); /* Firefox */
	-webkit-transform:rotate(5.33333deg); /* Safari 和 Chrome */
	-o-transform:rotate(5.33333deg); 
}
.mongodb-icon img{
	width:128px;
}

.angular-icon{
	position:fixed;
	right:100px;
	top:280px;
}
.angular-icon img{
	width:50px;
}

